<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Document</title>
</head>
<style>
    body{
        font-family: 'Roboto';
    }
    ul,p,li{padding: 0;margin: 0;font-size: 0.2rem;}
    #app{max-width: 568px;}
	#showDialog{
	    box-sizing: border-box;
	    border-width: 1px;
	    font-size: 0.8rem;
	    display: none;
	    border-style: solid;
	    position: fixed;
	    top: 3rem;
	    border-radius: 0.2rem;
	    border-radius: 4px;
	    transition: opacity .3s,transform .4s,top .4s,-webkit-transform .4s;
	    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
	}
</style>
<script>
    var fun = function (doc, win) { 
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>568){
                clientWidth = 568;
                }
                if(clientWidth<=320){
                clientWidth = 320;
                }
                docEl.style.fontSize =100* (clientWidth / 760) + 'px';
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    }
    fun(document, window);
</script>
<body>
    <div id="app">
        <img src="./images/nijia-FFF.jpg" style='width:100%' alt="">
            <el-form :model="NewForm" label-position='top' :rules="rules" ref="NewForm" >
                <el-row >
                    <el-col :span="11">
                        <el-form-item label="客户姓名" prop="name">
                          <el-input v-model="NewForm.name" placeholder='请输入' ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10" :offset="1">
                        <el-form-item label="邮箱" prop="email">
                          <el-input v-model="NewForm.email" placeholder='请输入'></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row >
                    <el-col :span="11" >
                        <el-form-item label="联系电话" prop="contact_phone">
                          <el-input type='number' v-model="NewForm.contact_phone" placeholder='请输入'></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10" :offset="1">
                        <el-form-item label="客户类型" prop="diversity_id">
                            <el-select v-model="NewForm.diversity_id" style='width: 100%;' placeholder="请选择">
                                <el-option
                                  v-for="item in typeList"
                                  :key="item.data"
                                  :label="item.name"
                                  :value="item.data">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row >
                    <el-col :span="11" >
                        <el-form-item label="国家">
                            <el-select v-model="NewForm.country_id" filterable remote style='width: 100%;'
							reserve-keyword clearable :remote-method="remoteMethodcountry" @change="countryarea"
					 	    :loading="loading" placeholder="请选择">
                                <el-option
                                  v-for="item in CountryList"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10" :offset="1">
                        <el-form-item label="地区">
                            <el-select v-model="NewForm.area_id" style='width: 100%;' placeholder="请选择">
                                <el-option
                                  v-for="item in AreaList"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
				<el-row >
				    <el-col :span="11">
				        <el-form-item label="城市" >
				          <el-input v-model="NewForm.city" placeholder='请输入' ></el-input>
				        </el-form-item>
				    </el-col>
				    <el-col :span="10" :offset="1">
				        <el-form-item label="邮编" >
				          <el-input v-model="NewForm.post_code" type='number' placeholder='请输入'></el-input>
				        </el-form-item>
				    </el-col>
				</el-row>
				<el-row >
				    <el-col :span="22">
				        <el-form-item label="详细地址" >
				          <el-input v-model="NewForm.address_line1" placeholder='请输入' ></el-input>
				        </el-form-item>
				    </el-col>
				</el-row>
				<el-row >
				    <el-col :span="24" style='text-align: center;'>
				        <el-button type='primary' @click="submitForm()">提交信息</el-button>
				    </el-col>
				</el-row>
            </el-form>
			<dialog id="showDialog">
			    <div id="prompt">信息提示</div>
			</dialog>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="XMLHttp.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            NewForm:{
                name:'',
                email:'',
                group: 1,
                contact_phone:'',
                country_id:'',
                area_id:'',
                city:'',
                post_code:'',
                address_line1:'',
                diversity_id:'',
            },
			loading:false,
			access_token:'',
            rules:{
				name: [
				  { required: true, message: '请输入客户姓名', trigger: 'blur' },
				],
				email: [
				  { required: true, message: '请输入邮箱', trigger: 'blur' },
				],
				contact_phone: [
				  { required: true, message: '请输入联系电话', trigger: 'blur' },
				],
				diversity_id: [
				  { required: true, message: '请选择客户类型', trigger: 'change' }
				 ],
            },
            typeList:[
                {
                    name:'超A类客户',
                    data: 1
                },
                {
                    name:'A类客户',
                    data: 2
                },
                {
                    name:'B类客户',
                    data: 3
                },
                {
                    name:'C类客户',
                    data: 4
                },
                {
                    name:'D类客户',
                    data: 5
                },
            ],
			CountryList:[],
			AreaList:[],
        }
      },
	  created(){
		  this.GetCountry()
	  },
      methods: {
		// 获取国家列表
		GetCountry(){
			Ajax("GET",'api/countrys','').then((res)=>{
				if( res !== '' ) {
				  this.CountryList = res.result
				} 
			}).catch(res=>{
				this.$message({
					message: res,
					type: 'warning',
				});
			});
		},
        // 远程搜索国家
		remoteMethodcountry(query) {
			if (query !== '') {
				this.loading = true;
				let data = {
					'keywords': query
				};
				Ajax("GET",'api/countrys',data).then((res)=>{
					if( res !== '' ) {
					  this.CountryList = res.result;
					  this.loading = false;
					}
				}).catch(res=>{
					this.$message({
						message: res,
						type: 'warning',
					});
				});
			} else {
				this.NewForm.area_id = '';
				this.AreaList = [];
			}
		},
		// 监听国家是否选中
		countryarea(val){
			this.NewForm.area_id = '';
			for(let i in this.CountryList){
				if(val == this.CountryList[i].id){
					this.AreaList = this.CountryList[i].areas;
				}
			}
		},
		// 点击提交
		submitForm() {
			this.$refs['NewForm'].validate((valid) => {
			  if (valid) {
				let data = {
					name: this.NewForm.name,
					email: this.NewForm.email,
					group: 1,
					customer_type_id: 0,
					contact_phone: this.NewForm.contact_phone,
					diversity_id: this.NewForm.diversity_id,
					country_id: this.NewForm.country_id,
					area_id: this.NewForm.area_id,
					city: this.NewForm.city,
					post_code: this.NewForm.post_code,
					address_line1: this.NewForm.address_line1,
				};
				Ajax("POST",'api/customers',data).then((res)=>{
				  	if( res !== '' ) {
						this.NewForm = {
						    name:'',
						    email:'',
						    group: 1,
						    contact_phone:'',
						    country_id:'',
						    area_id:'',
						    city:'',
						    post_code:'',
						    address_line1:'',
						    diversity_id:'',
						};
						this.$message({
							message: '提交成功',
							type: 'success',
						});
				  	}
				 }).catch(res=>{
					this.$message({
						message: res,
						type: 'warning',
					});
				});
			  }
			});
		},
      }
    })
</script>
<style type="text/css">
	.el-form-item__content{
		margin-top: -0.3rem;
	}
	.el-form-item{
		margin-bottom: inherit;
	}
	.el-message{
		min-width: inherit;
	}
	.el-message__icon{
		margin-right: 0.2rem;
		font-size: 0.5rem;
		margin-left: -0.1rem;
	}
</style>
</html>